/* CSS that will be applied to every page.*/


/*
    palette
        dark orange:    #ff8100
        light orange:   ffa700
        dark blue:      #5292ff
        light blue:     #91bfff

*/

:root {
    --accent-lighter: #fdce75;
    --accent-light: #ffa700;
    --accent-dark: #ff8100;
    --main-lighterer: #c7ddfc;
    --main-lighter: #a7cbfd;
    --main-light: #91bfff;
    --main-dark: #5292ff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: #D9F1F1; */
    width: 955px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 40px;
}


/* a {
    font-family: 'Lato', sans-serif;
    color: var(--main-dark);
    font-weight: lighter;
} */

a {
    color: var(--main-dark);
    font-weight: lighter;
    font-family: 'Lato', sans-serif;
    padding-right: 1px;
    padding-left: 1px;
    /* padding: 1px; */
    background: linear-gradient( to bottom, var(--main-lighter) 0%, var(--main-lighter) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 0px 4px;
    text-decoration: none;
    transition: background-size .4s;
    border-radius: 4px;
}

a:hover {
    border-radius: 4px;
    background-size: 4px 50px;
}

a:active {
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h3>a {
    font-family: "Courier New", Courier, monospace;
    font-weight: 100;
}

h3 {
    margin-top: 3px;
    font-size: 18pt;
}

.infoDate {
    font-style: italic;
    color: var(--accent-light)
}

.clear {
    clear: both;
}


/* CSS DEBUGGING */


/* div {
    border: 1px black solid;
} */


/* HEADER STYLE */

#mainHeader {
    /* padding: 4px; */
    /* background-image: url(../images/layout/header_background.png); */
    /* background-repeat: no-repeat;
    background-position: right;
    /* background: #b0cffa; */
    /* border-radius: 125px; */
}

#headerImageContainer {
    height: 190px;
    width: 190px;
    float: left;
}

#headerMainImage {
    width: 250px;
    height: 250px;
    border-radius: 125px;
    object-fit: cover;
}

#headerTextContainer {
    float: left;
    /* margin: 5px 0px 0px 6px; */
    width: 79%;
    height: 250px;
    /* margin-left: 40px; */
}

#headerTitle {
    font-size: 32pt;
    padding-left: 50px;
    border-bottom: 1px solid var(--accent-light);
}

#headerDescription {
    width: 70%;
    display: inline;
    padding-left: 70px;
}

.header_social {
    width: 134px;
    float: right;
}

.socialLink,
.socialLink:hover {
    /* color: var(--main-dark); */
    background: none;
}

.socialLink>img {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    transition: background .2s;
}

.socialLink>img:hover {
    background: var(--main-lighterer);
}

#navButtonsContainer {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    padding-left: 64px;
}

.navigationButton {
    border: 2px solid var(--main-light);
    border-bottom: 3px solid var(--main-dark);
    border-right: 3px solid var(--main-dark);
    background-color: white;
    min-width: 10%;
    height: 29px;
    font-size: 13pt;
    border-radius: 6px;
    margin-right: 13px;
    /* fun transition stuff */
    -webkit-transition: color .3s, background-color .3s, border .3s, border-radius .3s;
    /* For Safari 3.1 to 6.0 */
    transition: color .3s, background-color .3s, border .3s, border-radius .3s;
}

.navigationButton:hover {
    color: white;
    background-color: var(--main-light);
    border: 2px solid var(--main-dark);
    border-bottom: 3px solid var(--main-dark);
    border-right: 3px solid var(--main-dark);
}

.navigationButton:active {
    color: white;
    height: 28px;
    background-color: var(--main-light);
    border: 2px solid var(--main-dark);
}


/* CONTENT HEADER */

#mainContent {
    padding-top: 22px;
    min-height: 500px;
}

#mainContentContainer {
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}

h2.ContentHeader {
    font-weight: bold;
    font-size: 25pt;
}


/* FOOTER STYLE */

#mainFooter {
    margin-top: 30px;
    padding: 4px;
    padding-top: 15px;
    border-top: 1px solid var(--accent-light);
}

#footerAPISubheader {
    display: inline;
}

#footerAPILinks {
    display: inline;
}

#apiList {
    padding: 5px;
}

.footerAPILink,
.footerAPI:hover {
    border-radius: 0px;
    padding-right: 6px;
    padding-left: 6px;
    height: 22px;
    border-left: 1px solid rgb(155, 155, 155);
}

#contactTable>tbody>tr>.col1 {
    text-align: right;
}

#contactTable>tbody>tr>td>h4 {
    display: inline;
    text-align: right;
}

#modifiedDateDisplay {
    margin-top: 15px;
}


/* DIFFERENT DISPLAY AREAS */


/* HOME */

.homeContentSection {
    border: 2px solid white;
    border-left: 2px solid var(--accent-dark);
    margin-bottom: 22px;
    padding-left: 12px;
    /* padding-top: 0px; */
    padding-bottom: 6px;
    margin-left: 10px;
    /* fun transition stuff */
    /* padding-top: 2px;
    padding-bottom: 8px; */
    -webkit-transition: background-color .7s, border .7s, border-radius .7s;
    /* For Safari 3.1 to 6.0 */
    transition: background-color .7s, border .7s, border-radius .7s;
}

.homeContentSection:hover {
    /* padding-top: 0px;
    padding-bottom: 6px; */
    background-color: white;
    border: 2px solid var(--accent-dark);
    border-radius: 12px;
}

.homeContentDiplay {
    margin: 14px;
    /* margin-left: auto; */
    /* margin-right: auto; */
    width: fit-content;
}

#sketchDailyHeader,
#sketchDailyLinkHeader>h3 {
    display: inline;
}

#XKCD>div>h4 {
    display: inline;
}


/* ABOUT */

.aboutSubTitle {
    font-size: 1.17em;
    color: var(--main-dark);
}

.aboutJobTitle {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    font-style: italic;
}

#aboutMeTable>tbody>tr>td {
    padding: 12px;
}

#aboutMeTable>tbody>tr>.col2 {
    width: 600px;
}

#aboutMeTable>tbody>tr>td>p {
    margin-top: 0px;
}

#aboutMeTable>tbody>tr>.col3 {
    vertical-align: top;
}

#aboutMeTable>tbody>td>.projectLink {
    width: 130px;
}

#aboutMeTable>tbody>tr>.col1 {
    width: 140px;
    text-align: right;
    vertical-align: top;
}

#aboutMeTable>tbody>tr>td>.aboutSubTitle::after {
    padding: 3px;
    content: "";
    display: inline-block;
    margin-left: 0;
    width: 1px;
    margin-bottom: -12px;
    height: 26px;
    padding-top: 2px;
    border-right: 1px solid rgb(155, 155, 155);
}

#aboutMeTable>tbody>tr>td>.infoDate::before {
    padding: 3px;
    content: "";
    display: inline-block;
    margin-left: 0 auto;
    width: 1px;
    margin-bottom: -12px;
    height: 26px;
    padding-top: 2px;
    border-left: 1px solid rgb(155, 155, 155);
}


/* PROJECTS */

.projectLink {
    font-size: 16px;
    font-family: "Courier New", Courier, monospace;
}

#projectTable {
    margin-left: auto;
    margin-right: auto;
}

#projectTable>tbody>tr>td {
    padding: 6px;
}

#projectTable>tbody>tr>.col1 {
    text-align: right;
    width: auto;
    /* vertical-align: top; */
}

#projectTable>tbody>tr>.col2 {
    /* vertical-align: top; */
    width: 440px;
}

#projectTable>tbody>tr>.col3 {
    width: 80px;
    /* vertical-align: top; */
}

#projectTable>tbody>td>.projectLink {
    width: 130px;
}

#projectTable>tbody>tr>.col1::after {
    padding: 3px;
    content: "";
    display: inline-block;
    margin-left: 0 auto;
    width: 1px;
    margin-bottom: -12px;
    height: 26px;
    padding-top: 2px;
    border-right: 1px solid rgb(155, 155, 155);
}

#projectTable>tbody>tr>td>.projectGitLink::before {
    padding: 3px;
    content: "";
    display: inline-block;
    margin-left: 0 auto;
    width: 1px;
    margin-bottom: -12px;
    height: 26px;
    padding-top: 2px;
    border-left: 1px solid rgb(155, 155, 155);
}


/* RESUME */

#resumePDFArea {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}


/* loaging circle */

#wrapper {
    position: relative;
    /*background:#333;*/
    height: 100%;
}

.profile-main-loader {
    left: 50% !important;
    margin-left: -100px;
    position: fixed !important;
    top: 50% !important;
    margin-top: -100px;
    width: 45px;
    z-index: 9000 !important;
}

.profile-main-loader .loader {
    position: relative;
    margin: 0px auto;
    width: 200px;
    height: 200px;
}

.profile-main-loader .loader:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.circular-loader {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    height: 100%;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
}

.loader-path {
    stroke-dasharray: 150, 200;
    stroke-dashoffset: -10;
    -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124;
    }
}

@-webkit-keyframes color {
    0% {
        stroke: #8c9786;
    }
    40% {
        stroke: #8c9786;
    }
    66% {
        stroke: #8c9786;
    }
    80%,
    90% {
        stroke: #8c9786;
    }
}

@keyframes color {
    0% {
        stroke: #8c9786;
    }
    40% {
        stroke: #8c9786;
    }
    66% {
        stroke: #8c9786;
    }
    80%,
    90% {
        stroke: #8c9786;
    }
}


/* TESTING */